#responsive {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
#computercode {
  color: green;
  background-color: black;
}
#sample {
  color: chocolate;
  background-color: lightblue;
}
